-r requirements-core.txt
-r requirements-default.txt

# TODO: move to requirements-default
# A library to send the telemetry data from the OpenVINO toolkit components.
openvino-telemetry>=2022.1.0

# testing
pytest>=5.3.5

# linters
bandit>=1.7.0
isort~=5.9
pylint>=2.7.0
coverage
black>=22.1.0

toml~=0.10.2
packaging~=21.3
opencv-python~=4.6.0.66
pycocotools~=2.0.4
setuptools~=57.0.0
seaborn~=0.11.2